html{
    background-color: #fff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff; 
}
.spigot{
    background-color: #9400d3;
    display: flex;
    width: 150px;
    height: 55px;
    left: 30px;
    top: 30px;
    align-items: center;
}
#s-col1{
    max-width: 50px;
}
.s-col2{
    font-family:'Courier New',monospace;
    font-size: 1.5em;
    color:#fff;
    text-align : center;
}
input[type=checkbox]{
    display: none;
} 
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}
.logo{
    display: none;
}
.menu{
    font-family:'Courier New',monospace;
    list-style : none;
    display: flex;
    font-size: 1em; 
}
#background{
    background: #800080;
    width: 100%;
    justify-content: center;
    text-align: center;
}
#s-col3{
    padding-top: 3em;
    justify-content: center;
}
.parkcity{
    font-size: 3em;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
.party {
    display: flex;
  }
.p1{
    flex: 2 1 0;
    background: #dcdcdc;
    padding: 5%;
}
.p2,
.p3 {
    flex: 1 1 0;
    border-left: 4px solid #dcdcdc;
    border-bottom: 4px solid #dcdcdc;
    padding: 5%;
}
.p4 {
    flex: 1 1 0;
    border-left: 4px solid #dcdcdc;
    border-right: 4px solid #dcdcdc;
    border-bottom: 4px solid #dcdcdc;
    padding: 5%;
}
.p5{
    padding: 4%;
    max-width: 20%;
    font-size: 1.3em;
    color:#36454f;
}
.p6{
    font-size: 1.5em;
    padding: 4%;
    color:#36454f;
}
#wd{
    max-width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.buildit,
.promoteit,
.maintainit{
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color:#36454f;
    flex: 1 1 0;
    padding: 10%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text{
    font-size: 0.9rem;
    padding-top: 40%;
    padding-bottom: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.p2:hover .buildit,
.p3:hover .promoteit,
.p4:hover .maintainit{
    opacity: 1;
}
#img-1,
#img-2,
#img-3,
#img-4,
#img-5,
#img-6{
    max-width: 100%;
    position: relative;
}
.utah,
.canyon,
.forest,
.fireflies,
.running,
.hands{
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color:#36454f;
    padding-left: 10%;
    padding-right: 10%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#img-1:hover .utah,
#img-2:hover .canyon,
#img-3:hover .forest,
#img-4:hover .fireflies,
#img-5:hover .running,
#img-6:hover .hands{
    opacity: 1;
}
.p7{
    font-size: 1.5em;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    color:#36454f;
    max-width: 20%;
    margin: 2em;
}
.p8{
    display: flex;
    max-width: 50%;
    align-items: center;
    font-size: 1.8em;
    color:#36454f;
}
#img-7{
    max-width: 55%;
    display: flex;
}
.author{
    font-size: 0.7em;
}
#dartboard{
    max-width: 100%;
}
.box{
    display: flex;
    justify-content: space-between;
}
nav a:hover,
    nav a:focus{
    color: #800080;
}
a{
    text-decoration: none;
    color:	#696969;
}
li {
    list-style: none;
}
b{
    font-size: 1.6em;
}
.writing{
    font-size: 1em;
}
.p9,
.p10,
.p11,
.p12{
    flex: 1 1 0;
    border-top: 4px solid #dcdcdc;
    border-left: 4px solid #dcdcdc;
    border-bottom: 4px solid #dcdcdc;
    padding: 1%;
    position: relative;
}
.p13{
    flex: 2 1 0;
}
.p14{
    flex: 1 1 0;
    background: #36454f;
    color: #fff;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
.party{
    flex-direction: column;  
}
.p1{
    max-width: 100%;
    padding-left: 0em;
}
.p2,
.p3,
.p4{
    max-width: 100%;
    display: block;
    border: none;
}
.logo{
    display: text;
}
.nav-links{
    padding-left: 40rem;
    display: flex;
    color:#800080;
}
.menu { 
    display:none;
    position: absolute;
    background-color:#fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
.menu li + li {
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger {
    display: block;
}
.logo{
    display: block;
}
}
